
/* ill do responsive css later */

html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: #2ECC40;
	background-color: #111111;
	font-family: "PT Mono", Monaco, Consolas, "Courier New", monospace;
	font-size: 1em;
}

hr {
	border: 0;
	height: 0;
	border-bottom: 1px solid #2ECC40;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.display {
	font-size: 3em;
}
