
/* ill do responsive css later */

body {
	color: #2ECC40;
	background-color: #111111;
	font-family: "PT Mono", Monaco, Consolas, "Courier New", monospace;
	font-size: 3em;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.display sub {
	font-size: 0.5em;
	color: #202E20;
}
