/* epoch.link */

html, body {
	background-color: #121317;
	color: #CBDBF6; 
	font-family: "PT Mono", monospace;
	text-align: center;
} 

a {
	color: #A7FF99;
	text-decoration: none;
}

.timer { 
	font-size: 2em; 
	position: absolute;
	top: 50%;
	left: 50%;

	/* probably doesn't work everywhere, upgrade your browsers people */
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	/* mobile is cheating */
} 
